.representation {
    margin-top: 20px;
    width: 400px;
    height: 350px;

    animation: fade-in 0.2s;
}

@keyframes fade-in {
    from {
        color: white;
    }
    to {
        color: black;
    }
}