body {
    margin: 0;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app {
    display: flex;
}

.app > *:not(:last-child) {
    margin-right: 80px;
}

.app__field-list {
    min-width: 200px;
}

.app__json-editor {
    min-width: 400px;
}
