.field {
    background-color: #ffffff;
    border: #a0afbb 1px solid;
    border-radius: 5px;
    padding: 5px 7px;
    font-family: monospace;
    margin: 3px 0px;
    box-shadow: 0px 5px 5px 0px #0000001a;

    transition: background-color 0.2s ease-out,
        margin 0.2s ease-out,
        padding 0.2s ease-out;
}
